@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 300;
        background-color: #FCF5EE;
    }

    form {
        margin: auto;
    }

    h1 {
        color: #E13F7C;
        font-size: 48px;
        font-weight: 700;
    }

    a{
        display:block;
    }

    table{
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #b7b7b7;
    }


    table th, table td{
        padding: 4px 10px;
    }
    
    table input, table select, table textarea {
        width: 100%;
        border: none;
        background-color: #ececea;
        padding: 12px 8px;
        border-radius: 10px;
        margin: 4px 0;
    }

    .header {
        text-align: center;
        margin-bottom: 50px;
    }

    /* ---------BUTTON & ERROR---------- */
    .btn {
        background-color: #E13F7C;
        border: none;
        padding: 15px 40px;
        font-size: 16px;
        font-weight: 600;
        color: #FFEF9F;
        border-radius: 10px;
        margin: 10px 5px;
        cursor: pointer;
    }

    .btn_sub{
        padding: 10px 20px;
    }

    .btn_green{
        background-color:rgb(0, 120, 104);
    }

    .btn_blue{
        background-color:rgb(0, 73, 110);
    }

    .btn_red{
        background-color:rgb(233, 72, 72);
    }

    .error-msg {
        padding-bottom: 30px;
        color: #ff285a;
        font-weight: 600;
    }

    .sidebar_menu_active>a i {
        color: #FFEF9F;
    }


    /* ---------MAIN---------- */
    .container {
        max-width: 1520px;
        margin: auto;
    }

    .main {
        padding: 30px;
        margin: 20px 40px 40px 250px;
    }

    .sidebar {
        min-width: 130px;
        height: 95vh;
        background-color: #FFEF9F;
        color: #E13F7C;
        font-weight: 600;
        padding: 20px 10px;
        border-radius: 10px;
        position: fixed;
        top:20px;
        left: 30px;
    }

    .sidebar a{
        color: #E13F7C;
    }

    .sidebar_header {
        text-align: center;
        padding: 20px 0px 50px 0px;
        font-size: 20px;
    }

    .sidebar>div i,
    .sidebar>div span {
        color: #E13F7C;
        font-size: 20px;
        margin-right: 10px;
    }

    .sidebar>div span {
        font-size: 24px;
    }

    .sidebar_menu {
        padding: 20px 28px;
        margin: 10px 0px;
    }

    .sidebar_menu:hover,
    .sidebar_menu_active {
        cursor: pointer;
        background-color: #E13F7C;
        border-radius: 5px;
    }

    .sidebar_menu:hover,
    .sidebar_menu:hover i,
    .sidebar_menu:hover span,
    .sidebar_menu_active a{
        color: #FFEF9F;
    }

    /* ---------REUSABLE---------- */
    .vert-align {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fullwidth{
        width:100%;
    }

    .row-flex{
        display:flex;
    }

    .space-between{
        justify-content: space-between;
    }

    .margin-tnb-20{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .gap-20{
        gap:20px;
    }

    .txt-center{
        text-align: center;
    }
