@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    border:none;
}

/* ============ROOT VARIABLES============ */

:root{
    /* ----------COLORS---------- */
    --color-dark-purple:#423485;
    --color-pale-purple:#7261aa;
    --color-golden-yellow:#ffc700;

    --color-dark-grey:rgb(36, 36, 36);
    --color-white:white;

    /* ----------GLOBAL FONT---------- */
    --font-body-base:"Roboto Condensed", sans-serif;
    --font-body-default-size: 18px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-body-default-line-height: 1.6;
    --h1-font-size: 44px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --link-font-size: 14px;

    /* ----------BUTTON---------- */
    --color-btn-yellow-bg-default: var(--color-golden-yellow);
    --color-btn-yellow-bg-enabled:#deb00a;
    --padding-btn:12px 28px;
    --radiu-btn:24px;

    /* ----------FORM---------- */
    --color-form-bg-default:var(--color-pale-purple);
    --padding-form: 6px 8px;
    --radius-form: 8px;
}


/* ============CLASSES============ */

/* ----------LAYOUT---------- */

.max-width{
    max-width: 380px;
    margin: auto;
}

.row-flex {
    display: flex;
}

.full-width{
    width: 100%;
}

body{
    margin:36px 0;
}

.direct-col{
    flex-direction: column;
}

.space-btwn{
    justify-content: space-between;
}

/* ----------TYPOGRAPHY---------- */
body {
    font-family: var(--font-body-base);
    font-size: var(--font-body-default-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-body-default-line-height);
    color: var(--color-white);
}

h1 {
    font-size: var(--h1-font-size);
    color:var(--color-golden-yellow);
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--color-dark-green);
}

h3 {
    font-size: var(--h3-font-size);
}

h1, h2, h3{
    line-height: 1.2;
}

a{
    color:inherit;
    font-size: var(--link-font-size);
    display: block;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

.txt-center{
    text-align: center;
}

/* ----------COLORS---------- */
.bg-dark-purple{
    background-color: var(--color-dark-purple);
}

.bg-pale-purple{
    background-color: var(--color-pale-purple);
}

.color-yellow{
    color:var(--color-golden-yellow);
}

/* ----------BUTTON--------- */
.btn{
    padding: var(--padding-btn);
    border-radius: var(--radiu-btn);
    color: var(--color-dark-grey);
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    margin: 12px 0px;
    font-weight: 600;
    text-align: center;
}

.btn-yellow{
    background-color: var(--color-btn-yellow-bg-default);
}

.btn-yellow :active{
    background-color: var(--color-btn-yellow-bg-enabled);
    transition: ease-in 0.2s;
}

.btn-outline{
    border: solid 2px var(--color-golden-yellow);
    color:var(--color-golden-yellow);
    background-color: transparent;
}

.btn-outline :active{
    background-color: rgba(255, 255, 255, 0.334);
    transition: ease-in 0.2s;
}

/* ----------CARD--------- */
.card{
    padding: 20px 0;
    margin: 16px 0;
}

/* ----------FORM--------- */
.form {
    background-color: var(--color-form-bg-default);
    padding:var(--padding-form);
    border-radius: var(--radius-form);
    color: var(--color-white);
    margin:2px 4px;
}

input:focus{
border: none;
}

.error-msg{
    background-color: rgb(211, 63, 63);
    padding:var(--padding-form);
    border-radius: var(--radius-form);
    color: var(--color-white);
    margin: 10px 0px;
    font-size: 14px;
}

