body {
    margin: 0;
}

.game-area {
    position: relative;
}

.btn-incorrect,
.btn-correct {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.btn-correct {
    position: absolute;
    left: 202px;
    top: 738px;
}

.prize-panel{
    display:none;
    position: relative;
}

.prize-panel.active {
    display: block;
    animation: prize-pop 0.4s ease;
}

.game-area.hidden {
    display: none;
}

.prize-panel button{
    position: absolute;
    bottom:10vh;
    left:6vw;
    max-width:380px;
}

@keyframes prize-pop {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}