.bg-cup{
    background-image: url(../img/tealive_cup.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_info{
    max-width: 245px;
    margin: auto;
    position: relative;
    top:8vh;
    left:1.5vw;
    padding:20px 0px;
}

.margin-btm{
    margin-bottom: 30px;
}

header{
   padding: 35px 0px;
}

h1{
    -webkit-text-stroke: 8px var(--color-pale-purple);
    paint-order: stroke fill;
}

.footer-img {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

body{
    margin-top: 50px;
}

.form {
    background-color: var(--color-dark-purple);
}